@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

html {
    width: 100vw;
    height: 100vh;
}

nav > ul {
    text-align: right;
    width: 20vw;
    position: fixed;
    right: 0;
    padding: 30px;
    list-style-type: none;
}

nav > ul > li {
    padding-bottom: 10px;
    text-align: right;
}

nav > ul img {
    vertical-align: middle;
    width: 70px;
    border-radius: 50%;
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.603);
    transition: width 1s;
}

nav > ul > li > a > img:hover {
    width: 100px;
    box-shadow: 4px 4px 5px rgba(255, 255, 255, 0.74);
    outline: 2px solid rgba(255, 255, 255, 0.74);
    transition: width box-shadow 1s;
    
}

body {
    background: url(../imagens/fundo-madeira.jpg) center center no-repeat;
    background-size: cover;
    width: 98vw;
    height: 100vh;
    position: relative;
}

div#celular {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

div#tela {
    display: block;
    position: absolute;
    top: 78px;
    left: 20px;
    height: 475px;
}
iframe {
    border: 1px solid rgba(0, 0, 0, 0.144);
    background-color: #E9EBED;
}

